{% extends "base.html" %}
{% block content %}

{% if models %}

<div class="page-header">
</div>
<!--<div class="page-header">-->
    <!--<h1>Minimalistic admin panel</h1>-->
<!--</div>-->
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Existing models:</h3>
    </div>
    <table class="table table-striped">
        <tbody>
        {% for model in models %}
        <tr><td><a href="{% url 'min_admin:objectList' model %}">{{ model }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<p> Models doesn't exist </p>
{% endif %}


{% endblock content %}